.messages_header {
    padding-left: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #2a2e38;
    border-radius: 8px;
}

.messages_header > .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid red;
    object-fit: cover;
}

.messages_header > .user_info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.messages_header > .user_info > .name {
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: red;
}

.messages_header > .user_info > .seen_at {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
}