.my_button {
    width: fit-content;
    font-family: sans-serif;
}

/* Size styles */
.my_button.Size_s {
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
}

.my_button.Size_m {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
}

.my_button.Size_l {
    padding: 15px 30px;
    font-size: 17px;
    border-radius: 8px;
}

/* Type styles */
.my_button.Type_fill {
    background-color: red;
    color: white;
}

.my_button.Type_outline {
    border: 2px solid red;
    color: red
}