.user_post {
    margin: 10px 0 20px 0;
    display: flex;
    flex-direction: row;
}

.user_post > .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.user_post > .info {
    margin-left: 20px;
    width: 100%;
}

.user_post > .info > .text {
    padding: 10px 10px 20px 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-family: sans-serif;
    background-color: #262c34;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.user_post > .info > .name {
    margin-bottom: 10px;
    color: red;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}