.dialog_window {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2a2e38;
    border-radius: 8px;
}

.dialog_window > .messages {
    width: 100%;
    flex: 1;
}

.dialog_window > .messages > * {
    margin-bottom: 10px;
}