.info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(54, 60, 72, 0.5);
    border-radius: 8px;
}

.info > * {
    margin: 3px 0;
}