.dialogs_list {
    height: 520px;
    overflow: auto;
}

.dialogs_list::-webkit-scrollbar {
    display: none;
}

.dialogs_list > .link_wrapper {
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
}